@media only screen and (min-width: 35rem) {
  img.logo {
  width: 12vh;
}
  div.container-slideshow {
    display: grid;
    grid-template-columns: 30% 1fr;
        margin-top: 3%;
  }
  div#spotlight-temple-image {
    grid-column: 1;
    /*width:relative;*/
    margin: auto;
  }
  div#spotlight-temple-details {
    grid-column: 2;
    padding: 10px;
    font-size: 14px;
  }

  div#spotlight-temple-image > img {
    width: 100%;
  }

  div#small-map {
    display: none;
  }

  div#medium-map {
    display: block;
  }

  div.social-footer {
    position: absolute;
    margin-top: 20%;
  }
  div.social-footer > a > img {
    width: 75%;
  }

  /* +++++ NAVBAR OVERHAUL ++++++*/

  button#hamburburBtn {
    display: none;
  }

  ul#navicron {
    /*display: flex;
    flex-direction: row;*/

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 2;
    grid-column: 1/4;
    margin-left: 6%;
  }

  nav {
    grid-column: 1/4;
    grid-row: auto;
  }

  nav ul li a {
    color: var(--white);
    text-align: center;
  }

  ul#navicron,
  ul#navicron > li {
    background-color: var(--jet);
    border-radius: 15px;
  }

  header {
    grid-template-columns: 20% 2fr 1fr;
    grid-template-rows: 50% 50%;
    max-width: 95%;
    margin: inherit;
  }

  h1 > a {
    font-size: 1.7em;
}
  h1 {
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    padding-top: 3%;
  }

  div.logo-container {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    align-self: center;
    margin: auto;
  }

  img.logo {
    padding: 10%;
  }

  div.title {
    margin-left: 5%;
    margin-top: 2%;
    grid-column: 2;
    grid-row: 1;
  }

  div.social-header {
    display: flex;
    flex-direction: row;
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    margin-top: 15%;
  }
  div.social-header > a > img {
    width: 75%;
  }

  div.footer-lowend {
    margin: auto;
    max-width: 80%;
  }
  div.social-footer {
    margin: auto;
    max-width: 80%;
  }

  div.social-footer {
    position: relative;
    margin: auto;
  }

  div.reserveForm {
    margin: auto;
    width: 75%;
  }

  div.reservations {
    width: 75%;
    margin: auto;
  }

  .contact-us-page > div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
  }

  section.contact-us-page > div > div {
    grid-row: 1;
    grid-column: 2;
  }

  section.contact-us-page > div > form {
    grid-row: 2;
    grid-column: 1/3;
    margin: auto;
  }

  .contact-us-page > div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
  }

  div.subpages-services {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 80%;
  }

  div.reception-service > img {
    width: 50%;
  }
  div.full-time-missionary-services > img {
    width: 50%;
  }

  div.suits {
    display: grid;
    grid-template-columns: 45% 55%;

    /*grid-auto-columns: auto;*/
    max-width: 80%;
    margin: auto;
    column-gap: 10%;
  }

  div.temples{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3%;
  }
  div.temples > section > img.temple{
    width: 100%;
  }

main.main-container{
  display:grid;
  grid-template-columns: 50% 50%;
}
  div.slidercontainer{
    grid-column:1/3;

  }

  div.action-reservation{
    grid-column:1/3;

  }
  div.container-weather{
grid-column:1;
  }
  div.container-reviews{
grid-column:2;
  }
  div.container-spotlight-temple{
    grid-column:1/3;
  }

}
section#weather{
      text-align: center;
    margin-left: 10%;
    max-width: 79%;
}

img#weathericon{
      margin: auto;
}


h3#reservation-action > a {
    padding: 2%;
    background-color: var(--white);
}
/*NAV FIX*/
#primary_nav_wrap
{
	margin-top:15px
}

@media only screen and (min-width: 549px){
  #primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	/*float:left;
	margin:0;*/
	padding:0
}
}


#primary_nav_wrap ul a
{
	display:block;
	color:white;
	text-decoration:none;

}

#primary_nav_wrap ul li
{
	position:relative;
	/*float:left;*/
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
  z-index:1;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
  background-color:var(--jet);
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

/* EXp*/