@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Varela+Round&display=swap");
/*
font-family: 'DM Sans', sans-serif;
font-family: 'Varela Round', sans-serif;
color pallete: https://coolors.co/ff9f1c-ffbf69-cbf3f0-2ec4b6-ffffff-2c2c2c
/* Global Varibles in root*/

:root {
  /* Fonts*/
  --heading-font: "DM Sans", sans-serif;
  --paragraph-font: "Varela Round", sans-serif;
  /*Colors*/
  --oragne-peel: #ff9f1c;
  --mellow-apricot: #ffbf69;
  --light-cyan: #cbf3f0;
  --tiffany-blue: #2ec4b6;
  --white: #ffffff;
  --jet: #2c2c2c;
}

html{
      background: var(--light-cyan);
}
body{
      background: var(--mellow-apricot);
}


html,
main {
  max-width: 90%;
  align-items: center;
  align-self: center;
  margin: auto;
}

/*----------HAMBURGER NAV STARTS HERE----------*/

nav button {
  background: transparent;
  border: none;
  /*font-size: 2rem;*/
  color: var(--sage);
}

nav {
  background-color: transparent;
  grid-column: 10;
  justify-self: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: white; /*chagne this to white
  border-top: 1px solid rgba(0, 0, 0, 0.5);*/
}

nav ul li.active a {
  /*background-color: rgba(0, 0, 0, 0.2);*/
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
  position: absolute;
  top: 119px;
  right: 2.5%;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
  background-color: var(--jet);
  border-radius: 3px;
  text-align: center;
}

#hamburburBtn span:nth-child(1) {
  display: block;
  background: transparent;
  color: black;
}

#hamburburBtn span:nth-child(2) {
  display: none;
}

#hamburburBtn.open span:nth-child(1) {
  display: none;
}

#hamburburBtn.open span:nth-child(2) {
  display: block;
}

/* ===HAMBURBUR NAV ENDS HERE ====== */

/* Image size control */
div.showSlide.fade > img,
div#spotlight-temple-image > img {
  width: -webkit-fill-available;
}

img.logo {
  width: 07vh;
}

div.social-header > a > img {
  width: 2.5vh;
}

/* Font control */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1>a{
      text-decoration: none;
}

h3#sgt {
  text-align: center;
}
p,
footer,
div.content,
nav {
  font-family: var(--paragraph-font);
}

header {
  /*   display: block; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 0px;
  grid-template-rows: 50% 50%;
  /*  grid-area: 1fr 1fr 1fr; 
  align-items: center;*/
  /* max-width: 90%; */
  margin: auto;
}

h1 > a {
  font-size: 1em;
}

div.logo-container {
  grid-column: 1;
  grid-row: 1/4;
  align-items: center;
  align-self: center;
  margin: auto;
}

div.title {
  margin-left: 5%;
  grid-column: 2;
  grid-row: 1/4;
}

div.social-header {
  display: flex;
  flex-direction: row;
  grid-column: 3;
  grid-row: 1;
  align-items: center;
}

nav,
button#hamburburBtn {
  grid-column: 3;
  grid-row: 2;
  margin: auto;
  align-items: center;
}

a.left {
  position: absolute;
  margin-left: 2%;
}
a.right {
  position: absolute;
  margin-left: 78%;
}

div.content > p {
  text-align: center;
}

h3#reservation-action {
  text-align: center;
  background-color: var(--mellow-apricot);
  border-radius: 5%;
  padding: 2%;
}
h3#reservation-action > a{
  padding: 2%;
  background-color: var(--white);

}

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 0 auto;
  max-width: 89%;
}

.maps-google {
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  align-self: center;
}

.social-footer {
  display: flex;
  flex-direction: row;
  grid-column: 1;
  grid-row: 2;
  align-items: center;
}
.social-footer > a > img {
  width: 75%;
}

hr {
  color:black;

  grid-column: 1/2;
}

div#medium-map {
  display: none;
}

div.social-footer {
  /*position: absolute;
    margin-top: 65%;*/
  align-self: start;
}

@media only screen and (min-width: 470px) {
  div.social-footer {
    position: absolute;
    margin-top: 31%;
  }
}

@media only screen and (min-width: 475px) {
  div.social-footer {
    position: absolute;
    margin-top: 32%;
  }
}

@media only screen and (min-width: 495px) {
  div.social-footer {
    position: absolute;
    margin-top: 30%;
  }
}
@media only screen and (min-width: 520px) {
  div.social-footer {
    position: absolute;
    margin-top: 25%;
  }
}
@media only screen and (min-width: 550px) {
  div.social-footer {
    position: absolute;
    margin-top: 27%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--oragne-peel);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*
.dropdown:hover .dropbtn {background-color: #3e8e41;}
*/

div.reserveForm {
  margin: auto;
  width: 90%;
}

div.reservations {
  width: 85%;
  margin: auto;
      background: white;
    border-radius: 10px;
    padding: 2%;
}

.persInfo,
.dateInfo,
.addInfo {
  color: black;
  /*font-weight: bold;*/
  font-family: var(--paragraph-font);
  background-color: var(--tiffany-blue); /* Chage this*/
  border-radius: 5px;
}

fieldset.persInfo > legend#pi,
fieldset.dateInfo > legend,
fieldset.addInfo > legend {
  color:white;
  padding: 1px 5px 1px 5px;
  background: var(--jet); /* Chage this*/
  border-radius: 5px;
  margin: auto;
}

#subbutton {
  /*padding: 5%;*/
  color: var(--jet);
  background-color: var(--white); /* Chage this*/
  font-size: 21px;
  margin: 4% 22%;
  font-weight: bold;
  width: 50%;
  border-radius: 8px;
}

.contact-us-page > div {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  justify-content: space-evenly;
  /*    max-width: 80%;*/
  margin: auto;
}

section.contact-us-page > div > div > form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

section.contact-us-page > div{
  background: var(--transparent);

}

section.contact-us-page > h1 {
  text-align: center;
}

section.contact-us-page > div > form {
  grid-row: 3;
  grid-column: 1;
  margin: auto;
}

section.contact-us-page > div > div {
  grid-row: 2;
  grid-column: 1;
  margin: auto;
}

section.contact-us-page > div > p {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  border-radius: 3px;
      padding: 5%;
    background: white;
        margin: auto;
}

section.contact-us-page > div > iframe {
  grid-column: 2;
  grid-row: 1;
  margin: auto;
}

select#homecountry {
  width: 202px;
}

div.services-lister {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%;
}
div.services-lister > h3 {
  text-align: center;
}

div.services-container,
div.amenities-container {
  background-color: aliceblue;
}

ul.services-list-container > li,
ul.amenities-list-container > li {
  background-color: transparent;
}

img#amenities-img,
img#services-img {
  width: 100%;
}

ul.services-list-container > li,
ul.amenities-list-container > li {
  font-family: var(--paragraph-font);
}

div.subpages-services {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 95%;
}
div.reception-service > img {
  width: 100%;
}

div.reception-service,div.full-time-missionary-services{
      background: var(--oragne-peel);
}

div.reception-service > p:nth-child(1),div.full-time-missionary-services :nth-child(1) > p,h3{
      background: var(--white);   
       text-align: center;
            border-radius: 5px;
}

div.reception-service,div.full-time-missionary-services{
       text-align: center;

}

div.reception-service > p> a,div.full-time-missionary-services > p >a{
  width: 50%;
  color: white;
  background:var(--jet);
  
}

div.full-time-missionary-services > img {
  width: 100%;
}

div.view-xl-map {
  display: none;
}

div.reception-banner > img {
  width: 100%;
}

div.menu_options {
  width: 90%;
  margin: auto;
  font-family: var(--paragraph-font);
}
div.menu_options > h2 {
  text-align: center;
}

div.appetizers,
div.menu1,
div.menu2,
div.menu3 {
  margin: auto;
  text-align: center;
}

div.appetizers > ul > li,
div.menu1 > ul > li,
div.menu2 > ul > li,
div.menu3 > ul > li {
  list-style-type: none;
  margin-left: -5%;
  font-size: 1.1em;
}

div.appetizers > img,
div.menu1 > img,
div.menu2 > img,
div.menu3 > img {
  margin: auto;
  text-align: center;
  width: 80%; /*100*/
}

div.images-suites {
  grid-column: 2;
  grid-row: 1/3;
  /*display: grid;
  grid-auto-columns: auto;*/
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
  grid-gap: 5px;
}
div.suits {
  display: flex;
  flex-direction: column;
  /*grid-auto-columns: auto;*/
  max-width: 80%;
  margin: auto;
}
div.suits > form,
div.missionary-suites {
  grid-column: 1;
}
div.images-suites > img:nth-child(1) {
  grid-column: 1;
}
div.images-suites > img:nth-child(2) {
  grid-column: 2;
}

div.images-suites > img:nth-child(3) {
  grid-column: 1;
}

div.images-suites > img:nth-child(4) {
  grid-column: 2;
}
div.images-suites > img {
  width: 100%;
}
ul.temple-suite-services {
  font-family: var(--paragraph-font);
}

div.suits > form {
  margin-left: -10%;
}

div.missionary-suites{
  background-color: #f5f5f5;
      margin: -10px;
        max-width: 108%;
    margin-left: -9%;
        padding: 5%;
            margin-bottom: 10%;
}


 div.temples{
   display:flex;
   flex-direction: column;  
  }
  img.like{
    width: 10%;
  }

  div.temples > section > img.temple{
    width: 100%;
  }
  div.temples > section {
    background: white;/*Change color*/
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 5%;
  }
  

/**************Weather ForeCsast ***************/
#weather{
 display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

div#daily{
      grid-column: 1/3;
    grid-row: 3;
}

#daily {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img#weathericon{
      grid-column: 2;
    grid-row: 2;
}

h3.smallshown{
  
    grid-column: 1/3;
    grid-row: 1;

}

div#wthralert{
  display: none;
}








  /* --------SLIDE SHOW REVIEW ----*/
  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}



/*--------FINISH SLIDE REVIEW-------------*/

div.slideshow-container{
  grid-column:1/3;
  border-radius: 10px;
}

div.text{
  text-align:center;
  font-family: var(--paragraph-font);
  font-size: 1.5em;
  font-weight: bold;

}
div.numbertext{
  display:none;
}

div.reviews-container > p{
  padding:1% 5% 1% 5%;
  background: var(--tiffany-blue);
  color: black;
}


section#weather{
      background: var(--white);
}

div#day1, div#day2, div#day3{
  border:1px solid black;
}